
# Réécriture des URL pour SPA (Single Page Application)
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Si le fichier ou répertoire existe, utiliser celui-ci
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rediriger toutes les demandes vers index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>

# Définir le type MIME pour sitemap.xml
<IfModule mod_mime.c>
  AddType application/xml .xml
</IfModule>
